@media (max-width: 800px) {
  nav {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  };
  ul {
    width: 100%;
    justify-content: center;
  }
  li {
    font-size: 15px;
    padding: 0 10px;
    white-space: nowrap;
  }
  form {
   width: 70%;
   text-align: center;
  };
}
